.leaderboard__page { min-height: 100vh; padding-left: 256px; background: 
  radial-gradient(circle at bottom left, rgba(0, 99, 152, 0.15) 0%, transparent 60%),
  var(--color-bg);}
.leaderboard__container { padding: 52px 7vw; display: flex; flex-direction: column; gap: 20px; }
.leaderboard__info { display: flex; flex-direction: column; gap: 6px; }
.leaderboard__title { margin: 0; font-size: 60px; font-weight: 800; }
.leaderboard__description { margin: 0; color: var(--color-text-secondary); font-size: 30px;}
.leaderboard__error { margin: 0; padding: 12px; border-radius: 8px; background: #fff0f1; color: var(--color-default-hover); }
.leaderboard-wrapper { border-radius: 8px; overflow-x: auto; box-shadow: 4px 4px #1C1B1B;; border: 2px solid #1C1B1B;}
.leaderboard { border-collapse: collapse; width: 100%; min-width: 620px; background: white; }
.leaderboard th, .leaderboard td { padding: 13px 16px; border-bottom: 2px solid #1C1B1B; text-align: left; }
.leaderboard th { background: #006398; font-size: 13px; color: #ffffff; font-family: 'Public Pixel'; font-weight: 100;}
.leaderboard th:first-child, .leaderboard td:first-child { text-align: center; width: 90px; }
.leaderboard th:nth-child(3), .leaderboard td:nth-child(3), .leaderboard th:last-child, .leaderboard td:last-child { text-align: right; }
.leaderboard__row--your-result { background: #CDDDEE;  font-weight: 700; }
.leaderboard tfoot td { background: var(--color-bg); text-align: center !important; color: var(--color-text-secondary); font-weight: 700; }
@media (max-width: 760px) { .leaderboard__page { padding: 150px 0 0; } .leaderboard__container { padding: 24px 16px; } }
