.dashboard-page {
    padding-left: 265px;
    background-color: var(--color-bg);
}

.dashboard {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dashboard__pet-card {
    background-color: var(--color-bg-default);
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1),
                0px 1px 3px rgba(0, 0, 0, 0.05);
}

.dashboard__pet-image {
    width: 256px;
    height: 256px;
    border-radius: 50%;
    overflow: hidden;
}

.dashboard__pet-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dashboard__pet-name {
    font-size: 18px;
    line-height: 24px;
    color: var(--color-text-secondary);
    font-weight: 800;
}

.dashboard__pet-phase {
    padding: 6px 12px;
    background-color: var(--color-text-primary);
    color: var(--color-text-tetriary);
    border-radius: 6px;
}

.dashboard__progress-bars {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.dashboard__progress {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    height: 34px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.dashboard__progress-info {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: var(--color-text-secondary);
    font-weight: 600;
}

.dashboard__progress-bar {
    width: 100%;
    max-width: 450px;
    height: 12px;
    background-color: var(--color-progressbar-bg);
    border-radius: 6px;
}

.dashboard__progress-fill {
    height: 12px;
    border-radius: 6px;
    min-width: 12px;
}

.dashboard__progress-xp {
    background-color: var(--color-secondary);
}

.dashboard__progress-battery {
    background-color: var(--color-primary);
}

.dashboard__charge {
    padding: 16px 32px;
    background-color: var(--color-primary);
    border: none;
    border-radius: 6px;
    color: var(--color-text-tetriary);
    display: flex;
    gap: 6px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dashboard__charge:hover {
    background-color: var(--color-primary-hover);
    cursor: pointer;
}

.dashboard__stats {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    grid-template-rows: auto;
    gap: 14px;
}

.dashboard__stat-card {
    background-color: var(--color-text-primary);
    color: var(--color-text-tetriary);
    border-radius: 12px;
    padding: 14px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.dashboard__stat-card h2 {
    font-size: 12px;
    margin: 0;
}

.dashboard__stat-card p {
    margin: 0;
}

.dashboard__stat-icon {
    position: absolute;
    right: 50px;
}

.dashboard__stat-icon--bottom {
    top: 20px;
}

.dashboard__stat-icon--top {
    bottom: 20px;
}