.tasks-container {
    padding-left: 256px;
}

.tasks {
    padding: 40px 84px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tasks__content {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.tasks__header {
    margin: 0;
    font-size: 24px;
    line-height: 32px;
    font-weight: 800;
}

.tasks__description {
    margin: 0;
    font-size: 15px;
    line-height: 20px;
    color: var(--color-text-secondary);
}

.tasks__stats {
    background-color: var(--color-bg-default);
    border-radius: 12px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05),
                0px 4px 30px rgba(0, 0, 0, 0.1);
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tasks__stats-title {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
}

.tasks__progress {
    width: 100%;
    max-width: 350px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.tasks__progress-bar {
    height: 12px;
    width: 100%;
    max-width: 200px;
    border-radius: 6px;
    background-color: var(--color-progressbar-bg);
}

.tasks__progress-fill {
    background-color: var(--color-secondary);
    height: 12px;
    min-width: 12px;
    border-radius: 6px;
}

.tasks__list {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.tasks__card-item {
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05),
                0px 4px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 14px;
    align-items: center;
}

.tasks__card-icon {
    background-color: var(--color-secondary-light);
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 900;
    color: var(--color-secondary);
}

.tasks__card-info {
    flex: 1;
}

.tasks__card-title {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    margin: 0;
}

.tasks__card-description {
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    color: var(--color-text-secondary);
    margin: 0;
}

.tasks__complete-button {
    background-color: var(--color-secondary);
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: var(--color-text-tetriary);
    transition: background-color 0.3s ease;
}

.tasks__complete-button:hover {
    background-color: var(--color-secondary-hover);
}