.sidebar{
    width: 256px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-bg-default);
    border-right: 1px solid var(--color-bg);
    display: flex;
    flex-direction: column;
}

.sidebar__header {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--color-bg);
    padding: 20px 16px;
}

.sidebar__title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 900;
}

.sidebar__links {
    padding: 14px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.sidebar__link {
    text-decoration: none;
    color: var(--color-text);
    display: flex;
    gap: 12px;
    font-size: 16px;
    font-weight: 400;
    padding: 12px 20px;
    border-radius: 6px;
}

.sidebar__link--active {
    font-weight: 800;
    background-color: var(--color-bg);
}

.sidebar__link:hover{
    color: var(--color-default-hover);
}

.sidebar__footer {
    margin-top: auto;
    border-top: 1px solid var(--color-bg);
    padding: 14px;
}

.sidebar__exit {
    width: 100%;
    height: 100%;
    padding: 14px;
    text-align: left;
    display: flex;
    gap: 10px;
    border: none;
    background-color: var(--color-bg-default);
}

.sidebar__exit:hover {
    cursor: pointer;
    color: var(--color-default-hover);
}